html, body {
margin: 0;
padding: 0;
width: 100%;
height: 100%;
overflow: hidden;
}

.page-container {
position: relative;
width: 100%;
height: 100vh;
overflow: hidden;
}

.background-video {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
transition: opacity 0.5s ease;
z-index: -1;
opacity: .95;
}

.hidden {
opacity: 0;
pointer-events: none;
}
  
.app-container {
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 80vh; 
padding: 2rem;
font-family: sans-serif;
gap: 2rem;
text-align: center;
}

.logo {
width: 120px;
height: auto;
margin-bottom: 1rem;
color: #ffffff;
}

h1 {
font-size: 2.5rem;
margin: 0;
color: #ffffff;
}

.highlight {
color: #601e8f;
}

p {
font-size: 1.2rem;
margin: 0;
color: #c2c2c2;
}

.buttons {
display: flex;
gap: 2rem;
margin-top: 2rem;
}

.primary, .secondary {
padding: 0.8rem 1.5rem;
font-size: 1rem;
border-radius: 8px;
border: none;
cursor: pointer;
transition: transform 0.4s ease;
}

.primary {
background-color: #52177c;
color: white;
}

.secondary {
background-color: #ddd;
color: black;
}

.primary:hover, .secondary:hover {
transform: scale(1.2) translateY(-5px);
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
